.li {
    height: 5.5em;
    width: 100%;
    margin-top: 1em;
    border: 2px solid black;
    list-style: none;
    background-color: #E1CB83;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}